@import 'tailwindcss';
@config '../tailwind.config.ts';

@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@utility container {
  margin: 0 auto;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --default-transition-duration: 250ms;

  --color-mvmnt-warmgrey: #a8a0a1;
  --color-mvmnt-yellow: #e3ff4f;
  --color-mvmnt-pink: #fb93f2;
  --color-mvmnt-darkbrown: #603425;
  --color-mvmnt-gold: #d88f00;
  --color-mvmnt-blue: #5447f4;
  --color-mvmnt-lightpink: #f9dff8;
  --color-mvmnt-lightorange: #ff7733;
  --color-mvmnt-lightblue: #b6d7d6;
  --color-mvmnt-orange: #f95326;
  --color-mvmnt-maroon: #960733;
  --color-mvmnt-offwhite: #f8f9ed;
}

* {
  transition: all;
}